body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
  }
  
  /* Header */
  header {
    background: linear-gradient(to right, #444, #222);
    color: white;
    text-align: center;
    padding: 2rem 0;
  }
  
  .animated-title {
    font-size: 2.5rem;
    animation: fadeIn 2s ease-in-out;
  }
  
  /* Animazione titolo */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Card */
  .card {
    background: white;
    margin: 2rem auto;
    padding: 1.5rem;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Sezioni */
  h2 {
    color: #444;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
  }
  
  blockquote {
    font-style: italic;
    margin: 1rem 0;
    padding-left: 1rem;
    border-left: 3px solid #ccc;
  }
  
  /* Footer */
  footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #007bff; /* Colore della parola */
    text-decoration: underline;
}

/* Bolla*/
.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #555; 
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Invisibile per default */
    transition: opacity 0.3s; /* Animazione */
    font-size: 0.9em; /* Dimensione del testo */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1; /* Mostra il testo */
}